@font-face {
  font-family: "Neuzeit Office W01 Regular";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg"); }
@font-face {
  font-family: "Neuzeit Office W01 Bold";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg"); }

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Neuzeit Office W01 Regular", Helvetica Neue, sans-serif;
  font-size: 12px/20px;
  color: #45403e;
  padding: 2em 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Neuzeit Office W01 Bold", Helvetica Neue, sans-serif;
  font-weight: normal;
  margin-top: 0.25em;
  letter-spacing: -0.5px;
}

#container {
  max-width: 850px;
  margin: 0px auto;
  overflow: auto;
}

#maps {
  overflow: auto;
}

#top {
  text-align: center;
  margin-bottom: 2em;
}

#docs {
  margin-top: 2em;
}

.map {
  height: 300px;
  width: 50%;
  float: left;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

code {
  font-size: 12px;
  font-family: Monaco,"Courier New", monospace;
}

pre {
  background: #eeebe9;
  padding: 10px;
  border: 1px solid #cbc8c7;
  border-radius: 5px;
  margin-bottom: 2em;
}
