* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px/20px;
  color: #45403e;
  padding: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin-top: 0.25em;
}

#container {
  max-width: 850px;
  margin: 0px auto;
  overflow: auto;
}

#map {
  height: 500px;
  width: 800px;
  margin: 0px auto;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

code {
  font-size: 12px;
  font-family: Monaco,"Courier New", monospace;
}

pre {
  background: #eeebe9;
  padding: 10px;
  border: 1px solid #cbc8c7;
  border-radius: 5px;
  margin-bottom: 2em;
}
